<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        id        = "com.phonegap.helloworld"
        version   = "0.1.36">

    <name>Horus</name>

    <description>
My application with phonegapbuild!
    </description>

    <author href="PAS ENCORE DE SITE" email="PAS D'EMAIL POUR L'INSTANT">
       Pierre LABEL NGONGO OTTOU
    </author>
	<platform name="android" />
	<splash src="logo.png" density="land-hdpi"/>
	<icon src="logo.png" width="150" height="150" />
</widget>